[data-stylefield="wip"] {
  .toggleMenuBtn {
    width: 71px;
    height: 71px;
    border: 1px #E8E8E8 solid;
    border-right-width: 0;
    line-height: 69px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
  }
  .leftmenu {
    transition: all .5s linear;
    width: 100px;
    box-shadow: 1px 3px 10px #666;
    margin-right: 3px;
    &.fold {
      transform: translateX(-100%) scaleX(0);
      width: 0;
    }
  }
}