[data-stylefield="wip"] {
  .toggleMenuBtn {
    width: 71px;
    height: 71px;
    border: 1px #E8E8E8 solid;
    border-right-width: 0;
    line-height: 69px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
  }
}