.pixel-drawer {
  border: #80707070 solid;
  border-width: 1px 0 0 1px;
  line-height: 0;
  div {
    height: 16px;
    button {
      width: 16px;
      height: 16px;
      background-color: rgba(233, 233, 233, 0);
      border: #80707070 solid;
      border-width: 0 1px 1px 0;
    }
  }
}

input.input-color-eraser {
  &::-webkit-color-swatch { display: none; }
  &::after {
    content: '⌧';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 4px;
    text-align: center;
  }
}