
body {
  box-sizing: border-box;
  min-width: 1366px;
}

header {
  position: relative;
  z-index: 999;
  .headerMenu {
    box-shadow: 0px 1px 5px #666;
    width: 100%;
  }
}

.headerMenu-addon {
  float: right;
  border-bottom: 0;
  min-width: 48px;
  line-height: 46px;
  text-align: center;
  a {
    display: block;
    height: 100%;
    color: black;
    icon {
      margin-right: 0;
      font-size: 24px;
      vertical-align: middle;
    } 
  }
}

.cardset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &.cardset-default {
    div {
      width: 200px;
    }
  }
}